@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
body {

    margin: 0;
    font-family: "Alexandria", sans-serif;
    background: url('/public/bg8.png') no-repeat center center; 
    background-size: cover; 
}
  



code {
  font-family: "Alexandria", sans-serif;
}
