body {
  margin: 0;
  font-family: "Markazi Text", serif;
  background: url('/public/bg7.png') no-repeat center center fixed;
  background-size: cover;

}


code {
  font-family: "Markazi Text", serif;
}
